body {
    background-color: rgb(245, 236, 225);
}

h1 {
    font-family: arial;
    color: white;
    background-color: #b88009;
    display: flex;
    justify-content: center;
    padding: 14px;
    margin: 0;
}

.informacoes {
    font-family: arial;
    font-size: 16px;
    background-color: #cb8d07;
    color: #ffffff;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.objetivo {
    font-family: arial;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0;
}

.formacao {
    font-family: arial;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.qualificacoes {
    font-family: arial;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.menu {
    text-align: center;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding: 0px;
}

.menu a {
    background-color: #dfb80b;
    padding: 16px;
    padding-top: 10px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #333;
    color: white;
}

.idiomas {
    font-family: arial;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0;
}